.mapContainer {
  height: 700px;
  width: 900px; 
  margin: auto;
  background-image: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
